@import url("https://fonts.googleapis.com/css?family=Kalam");
.jumbotron {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Kalam";
  font-size: 20px;
}
.footer {
  background-color: #f8f9fa;
  color: tomato;
}
.footer ul {
  list-style: none;
  color: red;
}
.service-heading ol li {
  text-align: center;
}
